.simple-marquee-container *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	
}
.simple-marquee-container {
	width: 100%;
	background: grey;
	float: left;
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
	height: 45px;
	
	cursor: pointer;
}

.marquee-sibling {
	padding: 0;
	background: #FFD034;
	width: 20%;
	height: 45px;
	line-height: 42px;
	font-size: 18px;
	
	color: #000;
	text-align: center;
	float: left;
	left: -16px;;
	z-index: 2000;
}

.marquee, *[class^="marquee"] {
	display: inline-block;
	white-space: nowrap;
	position:absolute;
	padding-top:5px;
}

.marquee{
  margin-left: 25%;
}

.marquee-content-items{
  display: inline-block;
  padding: 5px;
  margin: 0;
  height: 45px;
  position: relative;
}

.marquee-content-items li{
  display: inline-block;
  line-height: 35px;
  color: #fff;
}

.marquee-content-items li:after{
	content: "|";
	margin: 0 1em;
}
